@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Overpass:ital,wght@0,100;0,200;0,400;0,600;1,100;1,500&display=swap");

:root {
  --font-family-header: "Lobster", cursive;
  --font-family-body: "Overpass", sans-serif;
}

html,
body {
  margin: 0%;
  padding: 0%;
}

ul {
  list-style-type: none;
  display: grid;
}

.main-con {
  background-color: rgb(252, 242, 230);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
}

.main-section {
  background-color: white;
  display: grid;
  margin: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
  grid-template-columns: 0.8fr 3fr 0.8fr;
  gap: 0px;
  border-radius: 50px;
  width: auto;
  height: auto;
}

.lib-display {
  background-color: white;
  justify-items: right;
  align-items: right;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.right-sidebar {
  background-color: rgb(228, 227, 227);
  justify-items: right;
  align-items: right;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.left-sidebar {
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  background-color: white;
  justify-items: right;
  align-items: right;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.hor-line {
  border-bottom: 1px solid lightgrey;
  width: 70%;
  position: absolute;
  left: 15%;
  bottom: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.section-one {
  width: 100%;
  border-top-left-radius: inherit;
  position: relative;
}

#profile {
  position: absolute;
  top: 60%;
  left: 30%;
  text-align: center;
  align-items: center;
  font-family: var(--font-family-header);
}
#handle {
  position: absolute;
  top: 40%;
  padding: 12px;
  text-align: center;
  align-items: center;
  font-family: var(--font-family-body);
  font-size: 0.75rem;
}

.prof-icon {
  position: absolute;
  left: 40%;
  top: 40%;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 25px;
}

.section-two {
  width: 100%;
  text-align: center;
  position: relative;
}
.section-three {
  width: 100%;
  border-bottom-left-radius: inherit;
  text-align: center;
  position: relative;
}

.section-two ul > li,
.section-three ul > li {
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  font-family: var(--font-family-body);
  font-size: 0.9rem;
  padding-block: 15px;
  color: rgb(190, 190, 190);
  border-radius: 35px;
  align-items: center;
  justify-content: start;
  text-align: center;
  -webkit-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
}

.section-two svg {
  width: 24px;
  height: 24px;
}

.section-two ul > li:hover,
.section-three ul > li:hover {
  background-color: green;
  border-radius: 35px;
}

#stay-at-home,
#stay-at-home p {
  background-color: rgb(226, 255, 184);
  width: 50%;
  height: 15%;
  position: absolute;
  bottom: 20%;
  left: 15%;
  border-radius: 20px;
}

#stay-at-home {
  font-family: var(--font-family-body);
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  color: green;
}
