@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Overpass:ital,wght@0,100;0,200;0,400;0,600;1,100;1,500&display=swap");

:root {
  --font-family-header: "Lobster", cursive;
  --font-family-body: "Overpass", sans-serif;
  --font-family-title: "Lobster", cursive;
  --font-family-author: "Overpass", sans-serif;
}

html,
body {
  margin: 0%;
  padding: 0%;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
}

li:first-child {
  margin-top: 0;
}

p {
  font-family: var(--font-family-author);
  font-size: 1rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.main-con {
  background-color: rgb(252, 242, 230);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
}

.main-section {
  background-color: white;
  display: grid;
  margin: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
  grid-template-columns: 0.8fr 3fr 0.8fr;
  gap: 0px;
  border-radius: 50px;
  width: auto;
  height: auto;
}

.lib-display {
  justify-items: right;
  align-items: right;
  display: grid;
  grid-template-rows: 1fr 7fr 3fr;
}

.lib-header {
  background-color: yellow;
  width: 100%;
}

.lib-books-display {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  gap: 5px;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
  position: relative;
  padding: 5px;
}

.display-card {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  border-radius: 25px;
  min-width: 90%;
  min-height: 75%;
  -webkit-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
}

.display-card img {
  border-radius: inherit;
  -webkit-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
}

.display-card img:hover {
  border: 1px solid green;
}

.lib-books-list {
  background-color: yellow;
  width: 100%;
}

.book-title {
  font-family: var(--font-family-title);
  position: absolute;
  bottom: 5%;
  font-size: 0.9vw;
}

.book-author {
  position: absolute;
  bottom: 0%;
  font-size: 0.85vw;
  color: lightgrey;
}

.right-sidebar {
  background-color: rgb(228, 227, 227);
  justify-items: right;
  align-items: right;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.left-sidebar {
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  background-color: white;
  justify-items: right;
  align-items: right;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.hor-line {
  border-bottom: 1px solid lightgrey;
  width: 70%;
  position: absolute;
  left: 15%;
  bottom: 0;
  justify-content: center;
}

.section-one {
  width: 100%;
  border-top-left-radius: inherit;
  position: relative;
}

#profile {
  position: absolute;
  top: 60%;
  left: 30%;
  text-align: center;
  align-items: center;
  font-family: var(--font-family-header);
}
#handle {
  position: absolute;
  top: 40%;
  padding: 12px;
  color: grey;
  text-align: center;
  align-items: center;
  font-family: var(--font-family-body);
  font-size: 0.75rem;
}

.prof-icon {
  position: absolute;
  left: 40%;
  top: 40%;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 25px;
}

.section-two {
  width: 100%;
  text-align: center;
  position: relative;
}
.section-three {
  width: 100%;
  border-bottom-left-radius: inherit;
  text-align: center;
  position: relative;
}

.section-two ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
}

.section-three ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
}

.section-two ul > li,
.section-three ul > li {
  padding-left: 1em;
  display: flex;
  gap: 15px;
  width: 150px;
  height: 30px;
  font-family: var(--font-family-body);
  font-size: 0.9rem;
  color: rgb(190, 190, 190);
  border-radius: 35px;
  text-align: center;
  align-items: center;
  justify-content: start;
  -webkit-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
}

.section-two svg {
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.section-two ul > li:hover,
.section-three ul > li:hover {
  background-color: rgb(97, 196, 97);
  border-radius: 35px;
  color: white;
}

#stay-at-home,
#stay-at-home p {
  background-color: rgb(226, 255, 184);
  width: 50%;
  height: 15%;
  position: absolute;
  bottom: 20%;
  left: 15%;
  border-radius: 10px;
}

#stay-at-home {
  font-family: var(--font-family-body);
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  color: green;
}
